<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.squid.job.JobMapper">

	<select id = "getJobCount" parameterType="com.sol.squid.job.JobSelector" resultType="java.lang.Integer">
		
		select count(*) from job
		where
		j_title like '%'||#{search}||'%'
		or j_intro like  '%'||#{search}||'%'
	</select>	
	
	
<!-- 구직게시판 + 페이징 -->	
	<select id="getJob" resultType="com.sol.squid.job.Job" parameterType="com.sol.squid.job.JobSelector">
	
		select * from 
		(
			select rownum as rn, j_no, j_title, j_u_id, j_u_name, j_start_date, j_end_date, j_start_time, j_end_time, j_area, j_date, j_intro, j_pic, j_view
			from (
				select * from job
				where
				j_title like  '%'||#{search}||'%'
				or j_intro like  '%'||#{search}||'%'
				order by j_no desc
				)
		)
		where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	
	<!-- 구직 게시판 전체 -->
	<select id="getAllJob" resultType="com.sol.squid.job.Job">
		select * from job, user_info where j_u_id = u_id order by j_no desc
	</select>
	
	<!--  구직 상세 -->
	<select id="detailJob" resultType="com.sol.squid.job.Job">
		select * from job, user_info where j_no = #{j_no} and  j_u_id = u_id
	</select>
	
	
	<!-- 구직 등록 -->
	<insert id = "writeJob" parameterType="com.sol.squid.job.Job">
		insert into job values(job_seq.nextval, #{j_title}, #{j_u_id}, #{j_u_name}, #{j_start_date}, #{j_end_date}, #{j_start_time}, #{j_end_time}, #{j_area}, sysdate, #{j_intro}, #{j_pic}, 0)
	</insert>
	
	
	<!-- 구직 수정 -->
	<update id = "updateJob" parameterType="com.sol.squid.job.Job">
		update job set 
		j_title = #{j_title},
		j_start_date = #{j_start_date}, j_end_date = #{j_end_date},
		j_start_time = #{j_start_time}, j_end_time = #{j_end_time},
		j_area = #{j_area},
		j_intro = #{j_intro}, j_pic = #{j_pic}
		where j_no = #{j_no}
	</update>
	
	<!-- 구직 삭제 -->
	<delete id="deleteJob" parameterType="com.sol.squid.job.Job">
		delete from job where j_no = #{j_no}
	</delete>
	
	 <!-- 조회수 올리기 -->
	<update id="updateJobViews" parameterType="com.sol.squid.job.Job">
		update job set j_view = j_view + 1 where j_no = #{j_no}
	</update>
</mapper>