@charset "UTF-8";

.cards {
	position: relative;
}

.cardSlideLeftBtn {
	color: #dadada;
	position: absolute;
	top: 25%;
	left: -30px;
	font-size: 50pt;
	width: 70px;
	height: 70px;
}
.cardSlideRightBtn {
	color: #dadada;
	position: absolute;
	top: 25%;
	right: -50px;
	font-size: 50pt;
	width: 70px;
	height: 70px;
}

.cardSlideLeftBtn i:hover {
	color: rgb(255,193,7);
	cursor: pointer;
}
.cardSlideRightBtn i:hover {
	color: rgb(255,193,7);
	cursor: pointer;
}

.homeTitle:hover {
	cursor: pointer;
	color: gray;
}

.homeGoRecruit:hover {
	cursor: pointer;
	color: gray;
}