@charset "UTF-8";

#jobL {
	color: #dadada;
	font-size: 50pt;
	font-weight: 900;
	position: fixed;
 	top: 60%;
 	left : 3px;
}

#jobR {
	color: #dadada;
	font-size: 50pt;
	font-weight: 900;
	position: fixed;
 	top: 60%;
	right: 3px;
}

#jobL i:hover {
	color: #ffc107;
}

#jobR i:hover{
	color: #ffc107;
}


#jobL:link ,#jobR:link{
	text-decoration: none;
}
#jobL:visited ,#jobR:visited{
	 text-decoration: none;
}

#jobInfo{
	background-color: #fbfbfb;
}


#jobInfoTitle{
	border-bottom: solid 1px #f7d511; 
	font-weight: bold;
	font-size: 20px;
}

#jobTitle{
	background-color: #f5f5f5;
	height: 120px;
	vertical-align: middle;
}

#jobDetailTbl i{
	font-size: 20px;
}
