@charset "UTF-8";

.goRecruitDetail:hover {
	cursor: pointer;
	border: 1px solid #ffc107;
}

#recruitPlus {
	float: right;
}
#recruitPlus:hover {
	cursor: pointer;
	color: orange;
}

#recruitStar {
	float: right;
}
#recruitStar:hover {
	cursor: pointer;
	color: orange;
}