@charset "UTF-8";

#selectReviewType {
	margin-left: auto;
}

.serach input {
	width: 15%;
	text-align: center;
}

#regReivew {
	margin-left: auto;
}

.regReviewBtn {
	float: right;
	margin-left: 10px;
}

#star a {
	text-decoration: none;
	color: gray;
}

#star a.on {
	color: red;
}

/* .rating i:nth-child(-n+3) {
	color:#F05522;
} */