@charset "UTF-8";

#reviewWrap #selectReviewType {
	margin-left: auto;
}

#reviewWrap .search input {
	width: 15%;
	text-align: center;
}

#regReivew {
	margin-left: auto;
}

.regReviewBtn {
	float: right;
	margin-left: 10px;
}

#reviewWrap #rvNo {
	width: 10%;
}

#reviewWrap #rvTitle {
	width: 90%;
}

#reviewWrap #star a {
	text-decoration: none;
	color: gray;
}

#reviewWrap #star a.on {
	color: red;
}

/* .rating i:nth-child(-n+3) {
	color:#F05522;
} */

#reviewWrap .reviewTitle {
	width: 50%;
}

.reviewTitle a {
	text-decoration: none;
	color: black;
}

.reviewTitle a:hover {
	color: white;
}

.reviewTitle:hover {
	cursor: darkgray;
}

@media (max-width: 992px) { 
	#reviewWrap .table {
		font-size: 12pt;
	}
	
	#reviewWrap #regReivew {
		font-size: 3pt;
	}
	
	#reviewWrap .reviewTitle {
		width: 40%;
	}
	
	#reviewWrap .search {
		font-size: 3pt;
	}
	
	#reviewWrap #commentSubmit {
		font-size: 10pt;
	}
}

@media (max-width: 768px) { 
	#reviewWrap .table {
		font-size: 10pt;
	}
	
	#reviewWrap #regReivew {
		width: 100%;
	}
	
	#reviewWrap .reviewTitle {
		width: 30%;
		font-size: 3pt;
	}
	
	#reviewWrap #commentSubmit {
		width: 100%;
	}
}

@media (max-width: 576px) { 
	#reviewWrap .table {
		font-size: 4pt;
	}
	
	#reviewWrap .reviewTitle {
		width: 30%;
		font-size: 1pt;
	}
	
	#reviewWrap .reviewNo {
		display: none;
	}
	
	#reviewWrap .restName {
		display: none;
	}
}

@media (max-width: 425px) { 
		
}

.sortReview:hover {
	cursor: pointer;
}

#reviewWrap #deleteComment:hover {
	cursor: pointer;	
}

#reviewWrap .review_paging {
	float: left;
}

#reviewWrap .pagination a {
	color: orange;
}